<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= entry.title %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <%= entry.description %>
    </div>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <i class="far fa-clock"></i> <%= l(entry.published_at, format: :long) %>
      <span>
    </p>
    <p class="card-footer-item">
      <%= link_to entry.link do %>
        <i class="fas fa-external-link-alt"></i>
        リンク先で読む
      <% end %>
    </p>
  </footer>
</div>
