<div class="feed-edit">
  <% if @feed.errors.any? %>
    <%= render 'layouts/errors', model: @feed %>
  <% end %>
  <div id="feed-form">
    <%= render 'form', feed: @feed, title: 'Rss Feedを編集する' %>
  </div>
</div>
<%= javascript_pack_tag 'feeds/new_edit' %>
