<div class="feed-index container">
  <h1 class="title">TOP</h1>
  <div class="entries columns is-multiline">
    <%= render partial: 'feed_collection', collection: @feeds, as: 'feed' %>
  </div>
</div>
