<div class="feed-new">
  <% if @feed.errors.any? %>
    <%= render 'layouts/errors', model: @feed %>
  <% end %>
  <div id="feed-form">
    <%= render 'form', feed: @feed, title: 'RSSフィードを登録する' %>
  </div>
</div>
<%= javascript_pack_tag 'feeds/new_edit' %>
