<aside class="menu">
  <p class="menu-label">
    Admin Dashboard
  </p>
  <ul class="menu-list">
    <li>
      <%= link_to 'Boards', admin_boards_path %>
    </li>
  <ul class="menu-list">
    <li>
      <%= link_to 'Feeds', admin_feeds_path %>
    </li>
  </ul>
</aside>
