<div class="feed-edit">
  <% if @feed.errors.any? %>
    <%= render 'layouts/errors', model: @feed %>
  <% end %>
  <div id="feed-form">
    <%= render 'form', feed: @feed, tags: @tags, title: 'RSSフィードを編集する' %>
  </div>
</div>
