<div class="column is-4">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= link_to board.title, board_path(board) %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <%= board.description %>
      </div>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <i class="far fa-clock"></i>
        <% if board.last_entry %>
          <%= l(board.last_entry.published_at, format: :long) %>
        <% else %>
          更新なし
        <% end %>
      </p>
    </footer>
  </div>
</div>
