<div class="boards-new columns" id="boards">
  <selected-feed-collection></selected-feed-collection>
  <main class="column">
    <h1 class="title">- Create Rss Board -</h1>
    <feed-card-collection
      :init_feeds="<%= @feeds.to_json %>"
      :init_last_entries="<%= @last_entries.to_json%>">
    </feed-card-collection>
  </main>
</div>
<%= javascript_pack_tag 'boards/new' %>
