<div class="boards-new columns" id="boards">
  <selected-feed-collection></selected-feed-collection>
  <main class="column">
    <article class="message">
      <div class="message-header">
        <p>Dogfeedsとは？</p>
      </div>
      <div class="message-body">
        <strong>
          RSSフィードをまとめたRssフィードを作ることができます。
          作り方は簡単なので、ぜひ作ってみてください🐶
        </strong>
        </br>
        1. フィードを選択する</br>
        2. まとめたフィード(ボード)に名前をつける</br>
        3. ボードを作って、共有するなり、Slackチャンネルに追加するなりする！</br>
      </div>
    </article>
    <div class="level-left column is-12">
      <search-form init_keyword="<%= params.dig(:query, :keyword) %>" />
    </div>
    <feed-card-collection />
  </main>
</div>
<%= javascript_pack_tag 'boards/new' %>
