<div class="board-show" id="boards-entries">
  <h1 class="title"><%= @board.title %></h1>
  <entry-card-collection :entries="<%= @entries.to_json %>"></entry-card-collection>
</div>
<%= javascript_pack_tag 'boards/show' %>
