@import "bulma/bulma";
@import "bulma-extensions/bulma-pageloader/dist/css/bulma-pageloader";
@import "../stylesheets/common.scss";
@import "../stylesheets/admin";

$pageloader-opacity: 0.9;
// NOTE: webpackビルド時のWARNING解消のため設定
// https://takeokunn.xyz/blog/post/webpacker-bulma-build-warning
$variable-columns: false;

html {
  height: 100%;
  background-color: hsl(0, 0%, 96%);
}

body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  padding: 15px;
}
