$pageloader-opacity: 0.9;
// NOTE: webpackビルド時のWARNING解消のため設定
// https://takeokunn.xyz/blog/post/webpacker-bulma-build-warning
$variable-columns: false;

@import "bulma/bulma";
@import "bulma-extensions/bulma-pageloader/dist/css/bulma-pageloader";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "../stylesheets/admin";
@import "../stylesheets/feed";

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;

  a:hover {
    color: hsl(171, 100%, 41%);
  }
}


html {
  height: 100%;
  background-color: hsl(0, 0%, 96%);
}

body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  padding: 15px;
}
