.board-index {
  padding: 20px;
}

.board-show {
  padding: 20px;

  .title {
    text-align: center;
  }

  .description {
    margin: 0px auto;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background-color: #ffffff;
  }
}

