.feed-edit,
.feed-new {
  margin: 20px;

  .form-footer {
    margin-top: 20px;
  }
}

.feed-form-area {
  margin: 0px auto;
  width: 700px;
  max-width: 95%;
  padding: 20px;
  background-color: white;

  .title {
    font-size: 20px;
  }

  .feed-form {
    .form-item {
      margin-bottom: 20px;
    }

    input[type="submit"].is-conversion {
      width: 90%;
    }
  }
}
