.feed-new {
  margin: 20px;
}

.feed-edit {
  margin: 20px;
}

.feed-form {
  margin: 0px auto;
  max-width: 90%;

  .tags-input {
    .tag {
      margin-right: 3px;
    }

    .tag-list {
      display: inline;
    }

    .input {
      width: initial;
    }
  }
}
