$pageloader-opacity: 0.9;

@import "bulma/bulma";
@import "bulma-extensions/bulma-pageloader/dist/css/bulma-pageloader";
@import "admin";
@import "feed";
@import "board";

html {
  height: 100%;
  background-color: hsl(0, 0%, 96%);
}

body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  padding: 15px;
}
