<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/favicon.ico", alt="favicon" />
      Dogfeeds
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          MENU
        </a>
        <div class="navbar-dropdown">
          <%= link_to 'RSSフィードを登録する', new_feed_path, class: "navbar-item" %>
          <hr class="navbar-divider">
          <%= link_to 'RSSフィードの一覧を見る', feeds_path, class: "navbar-item" %>
          <hr class="navbar-divider">
          <%= link_to 'RSSフィードをまとめてボードをつくる', new_board_path, class: "navbar-item" %>
          <hr class="navbar-divider">
          <%= link_to 'みんなが作ったボードをみる', boards_path, class: "navbar-item" %>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="https://twitter.com/Madogiwa_Boy" class="button is-info" target="_blank" rel="noopener">
            <strong>
              <i class="far fa-envelope"></i>
              お問い合わせ
            </strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
